<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Work Space</title>
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
    @Styles.Render("~/Content/css-marvel")
    @Scripts.Render("~/bundles/modernizr")

	 	
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
	@Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/bundles/ejscripts")
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                @Html.ActionLink("Timesheet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @Html.Partial("_LoginPartialMarvel")
        </nav>
        <nav class="navbar-default navbar-side" role="navigation" style="left:0px;">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    @if (this.User.IsInRole("Admin"))
                    {
                        <i class="fa fa-dashboard"></i>
                        @Html.ActionLink("Administration", "Index", "Dashboard", new { area = "Admin" })
                    }
                </ul>
            </div>

        </nav>
        <div class="page-wrapper" style="margin-left: 260px;">
            <div class="page-header">

            </div>
            <div class="page-inner">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Timesheet Management</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.EJ().ScriptManager()
</body>
</html>
