<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administration</title>
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
    @Styles.Render("~/Content/css-admin")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ejscripts")
    @RenderSection("scripts2", required: false)

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand" style="padding-top: 10px; padding-bottom: 10px">
                <a href='@Url.Action("Index", "Home", new { area = "" })'>
                    <img src='@Url.Content("~/Content/Images/smart-logo-small.png")' />
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div id="sidebar-nav" class="sidebar">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 95%;">
                <div class="sidebar-scroll" style="overflow: hidden; width: auto; height: 95%;">
                    <nav>

                        <ul class="nav">
                            <li><a href="Dashboard" class="active"><span>Dashboard</span></a></li>

                            <li><a href="/Admin/Users" class=""><span>Users</span></a></li>
                            <li><a href="/Admin/Roles" class=""><span>Roles</span></a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Timesheet Management</p>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
    @Html.EJ().ScriptManager()
</body>
</html>